.Post {
  padding: 0 25px;
  margin: 30px 0;
}

.Post:last-child {
  margin-bottom: 150px
}

.Post:hover {
  box-shadow: -3px 0 0 #ff2e59;
}

.Post__:last-child {
  margin-bottom: 200px
}

.Post__title {
  color: #2b2e3e;
  display: inline-block;
  font-size: 20px;
}

.Post__delete {
  /*float: right;*/
  background-color: #fff;
  color: #ff2e59;
  border: 1px solid #ff2e59;
  border-radius: 5px;
  /*padding: 7px 20px;*/
  /*margin-top: 10px;*/
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle
}

.Post__delete:hover {
  font-weight: 600;
  color: #fff;
  background-color: #ff2e59;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease
}

.Post__commentsCount {
  position: relative;
  left: 15px;
  padding: 6px 16px;
  font-size: 24px;
  color: #fff;
  background: #0E1D3C;
  border: 0;
  overflow: hidden;
  border-radius: 30px;
  display: inline-block;
  vertical-align: middle;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}

/*.Post__commentsCount::after, .Post__commentsCount::before {*/
/*content: '';*/
/*display: block;*/
/*position: absolute;*/
/*width: 0%;*/
/*height: 50%;*/
/*background: #000;*/
/*z-index: 2;*/
/*transition: width 150ms ease*/
/*}*/

/*.Post__commentsCount::before {*/
/*top: 0;*/
/*left: 0;*/
/*transition-delay: 0*/
/*}*/

/*.Post__commentsCount::after {*/
/*bottom: 0;*/
/*right: 0;*/
/*transition-delay: 150ms*/
/*}*/

/*.Post__commentsCount:hover {*/
/*background-color: #0E1D3C;*/
/*font-size: 16px;*/
/*padding: 3px 12px;*/
/*transition: all .1s ease;*/
/*-webkit-transition: all .1s ease;*/
/*-moz-transition: all .1s ease;*/
/*-o-transition: all .1s ease;*/
/*-ms-transition: all .1s ease*/
/*}*/

hr {
  margin-top: 10px;
  margin-bottom: 20px;
  border-top: 2px solid #eee;
}
