.PlusButton-img_icon {
    cursor:pointer;
    margin: 5px 20px;
    height: auto;
    width: 50px;
    -webkit-filter: drop-shadow(3px 3px 3px #111);
    filter: drop-shadow(3px 3px 3px #111);
    transition:all 0.3s ease;
}

.PlusButton-img_icon:active {
    webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-filter: none;
    filter: none;
}

.PlusButton-img_icon:hover {
    webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}


.PlusButton-img__place {
    display: flex;
    justify-content: center; /* for horizontal alignment */
    align-items: center;     /* for vertical alignment   */
}